header {
  background-color: #333; /* Cambia esto si deseas otro color */
}

/* Estilo para la parte superior con información */
.info-header {
  background-color: #4b4b4b; /* Color plomo oscuro */
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.info-header .izquierda,
.info-header .centro,
.info-header .derecha {
  flex: 1;
  text-align: center; /* Cambia según tus preferencias de alineación */
}

.info-header .izquierda {
  text-align: left; /* Alineación a la izquierda */
}

.info-header .derecha {
  text-align: right; /* Alineación a la derecha */
}
