.productos {
    padding: 20px;
  }
  
  .producto-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .producto-item img {
    width: 100%;
    max-width: 150px; /* Ajusta el tamaño de la imagen */
    height: auto;
    margin-bottom: 10px;
  }
  
  .producto-item p {
    font-size: 14px;
    text-align: center;
  }
  
  .precio-anterior {
    text-decoration: line-through;
    color: #888;
  }
  
  .precio-actual {
    color: #28a745;
    font-weight: bold;
  }
  